{% extends "homepage/base.html" %}
{% block content %}


{% for note in notifications %}
<article class="media content-section">
    <div class="media-body">
{#        <a class="mr-2" href="{% url 'animal_profile' pk=note.animal.id %}">{{ note.animal.full_name }}</a>#}
    <div class="article-metadata">
        <small class="text-muted">{{ note.start_date }}</small>
        <br>
        <small class="text-muted">
            Type: {{ note.message }}
        </small>
        <br>
        <small class="text-muted">
            Is Active: {{ note.is_active }}
        </small>
    </div>
    <br>
    <p class="article-content">{{ note.description }}</p>
    <br>
        <div class="container, align-right">
            <div class="grid"></div>
              <form method="post" action="{% url 'notification_change_active' pk=note.pk %}">
                {% csrf_token %}
                <button type="submit" class="secondary outline">
                  {% if object.is_active %}
                    Set inactive
                  {% else %}
                    Set active
                  {% endif %}
                </button>
              </form>
            <form method="post" action="{% url 'note_related_notifications_delete' pk=note.pk %}">
            {% csrf_token %}
            <button type="submit" class="secondary outline">
            Delete
            </button>
            </form>
{#            <a role="button" class="secondary outline" href="#">Set inactive</a>#}
{#            <a role="button" class="secondary outline" href="#">Delete</a>#}
        </div>
    </div>


    {% if note.emailnotification %}
    <div class="notification-info">
        <p>Email Notification:</p>
        <p>Email: {{ note.emailnotification.email }}</p>
    </div>
    {% endif %}

    {% if note.smsnotification %}
    <div class="notification-info">
        <p>SMS Notification:</p>
        <p>Number: {{ note.smsnotification.number }}</p>
    </div>
    {% endif %}

    {% if note.discordnotification %}
    <div class="notification-info">
        <p>Discord Notification:</p>
        <p>User ID: {{ note.discordnotification.user_id }}</p>
    </div>
    {% endif %}

        <div class="grid">

        </div>
    </div>
</article>
{% endfor %}

{% endblock %}
