{% load static %}
<div class="content-section">
    <div>
        {% if user.profile.profile_image %}
        <img src="{{ user.profile.profile_image.url }}" alt="User's profile picture">
        {% else %}
        <img src="{% static 'img/defaults/signup2.png' %}" alt="User's profile picture">
        {% endif %}
        <div>
            <h2>{{ user.username }}</h2>
            <p><small>{{ user.email }}</small></p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Profile info</legend>
            {% include "partials/form_fields.html" with form=form %}
            {% include "partials/form_fields.html" with form=profile_update %}
        </fieldset>
        <button type="submit">Update</button>
    </form>
</div>
