{% extends 'homepage/base.html' %}
{% block content %}

    {% if user.is_authenticated %}

    <div>
        {% if animals %}
            <h3>All pets:</h3>
            <div class="animals-grid">
                {% for animal in animals %}
                    {% include "partials/animal_card.html" %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <h4>Operations:</h4>
    <div class="grid">
        <a role="button" class="secondary outline" href="{% url 'animal_create' %}">Add animal</a>
        <a role="button" class="secondary outline" href="{% url 'animals_archive' %}">In memoriam archive</a>
    </div>

    {% endif %}

{% endblock %}
