{% extends 'homepage/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stable_grid.css' %}">
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}

    <div>
        <h3>In memoriam</h3>
        {% if animals %}
            <div class="stable_grid">
                {% for animal in animals %}
                    {% include "partials/animal_card.html" %}
                {% endfor %}
            </div>
        {% else %}
            <p>No archived animals.</p>
        {% endif %}
    </div>

    <div class="grid">
        <a role="button" class="secondary outline" href="{% url 'animals_stable' %}">Back to all pets</a>
    </div>

    {% endif %}

{% endblock %}
