{% extends "homepage/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Register a new pet!</legend>
                {% include "partials/form_fields.html" %}
            </fieldset>
            <button type="submit">Register!</button>
        </form>
        <br>
        <small>
            Already registered? <a href="{% url 'animals_stable' %}">Manage them all!</a>
        </small>
    </div>
{% endblock %}
