{% extends "homepage/base.html" %}
{% load static %}
{% block extra_js %}
    {% if form_name == 'MedicalRecordForm' %}
        <script defer src="{% static 'js/hiding_note_fields_in_form.js' %}"></script>
    {% elif form_name == 'BiometricRecordForm' %}
        <script defer src="{% static 'js/hiding_note_fields_in_measurement_form.js' %}"></script>
    {% endif %}
{% endblock %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Register a new note related with:</legend>
            {% include "partials/form_fields.html" %}
        </fieldset>
        <button type="submit">Submit!</button>
    </form>
    <br>
    <small>
        <a href="{% url 'animal_profile' pk=request.resolver_match.kwargs.pk %}">Return to the pet profile</a>
    </small>
</div>
{% endblock %}
