{% extends "homepage/base.html" %}
{% load static %}
{% block extra_js %}
    <script defer src="{% static 'js/hiding_note_fields_in_form.js' %}"></script>
{% endblock %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Edit a note related with {{ note.animal.full_name }}:</legend>
            {% include "partials/form_fields.html" %}
        </fieldset>
        <button type="submit">Submit!</button>
    </form>
    <br>
    <small>
        <a href="{% url 'animals_stable' %}">Return to the stable</a>
    </small>
</div>
{% endblock %}
