{% extends "homepage/base.html" %}
{% block content %}

<div>
    <h2>Feeding Notes</h2>
    {% for note in feeding_notes %}
    <article>
        <h4>{{ note.product_name }}</h4>
        <p>Category: {{ note.category }}</p>
        <p>Producer: {{ note.producer }}</p>
        <p>Dose annotations: {{ note.dose_annotations }}</p>
        <p>Real start date: {{ note.real_start_date }}</p>
        <p>Real end date: {{ note.real_end_date }}</p>
        <p>Is medicine: {{ note.is_medicine }}</p>
        <p>Has active notifications: {{ note.related_note.is_active|yesno:"Yes,No,None" }}</p>
        <div class="grid">
            <a role="button" class="secondary outline" href="{% url 'feeding_edit' pk=note.id %}">Edit</a>
            <a role="button" class="secondary outline" href="{% url 'note_related_notifications' %}?feednote_pk={{ note.id }}">Check notifications</a>
            <a role="button" class="secondary outline" href="{% url 'notification_create' pk=note.id %}">Set a new notification</a>
        </div>
    </article>
    {% empty %}
    <p>No feeding notes found for this record.</p>
    {% endfor %}

    <div class="grid">
        <a role="button" class="secondary outline" href="{% url 'feeding_create' pk=medical_record_id %}">Add a new product</a>
        <a role="button" class="secondary outline" href="{% url 'full_timeline_of_notes' pk=animal_id %}">Return to full timeline</a>
        <a role="button" class="secondary outline" href="{% url 'animal_profile' pk=animal_id %}">Return to animal profile</a>
    </div>

    {% if notes.paginator.page_range|length > 1 %}
    <nav>
        <small>Pages:</small>

        {% if notes.has_previous %}
            <a role="button" class="secondary outline" href="?page=1">First</a>
            <a role="button" class="secondary outline" href="?page={{ notes.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in notes.paginator.page_range %}
            {% if notes.number == num %}
                <a role="button" href="?page={{ num }}">{{ num }}</a>
            {% elif num > notes.number|add:'-3' and num < notes.number|add:'3' %}
                <a role="button" class="secondary outline" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if notes.has_next %}
            <a role="button" class="secondary outline" href="?page={{ notes.next_page_number }}">Next</a>
            <a role="button" class="secondary outline" href="?page={{ notes.paginator.num_pages }}">Last</a>
        {% endif %}
    </nav>
    {% endif %}
</div>

{% endblock %}
