{% extends "homepage/base.html" %}
{% load custom_to_class_name %}
{% block content %}

<div style="text-align: center">
    <h2>Notifications for this record</h2>
</div>

{% for note in notifications %}
<article>
    <header>
        {% if note|to_class_name == "EmailNotification" %}
            <h4>Email Notification</h4>
            <small>Email: {{ note.email }}</small>
        {% elif note|to_class_name == "SMSNotification" %}
            <h4>SMS Notification</h4>
            <small>Number: +{{ note.country_code }} {{ note.number }}</small>
        {% elif note|to_class_name == "DiscordNotification" %}
            <h4>Discord Notification</h4>
            <small>User ID: {{ note.user_id }}</small>
        {% else %}
            <h4>Notification</h4>
        {% endif %}
    </header>

    {% if note.description %}
        <p>Description: {{ note.description }}</p>
        <p>Is active: {{ note.is_active }}</p>
    {% endif %}

    <p>Time of sending: {{ note.daily_timestamp }} for timezone: {{ note.timezone }}</p>
    <p>Period: {{ note.start_date }} – {% if note.end_date %}{{ note.end_date }}{% else %}ongoing{% endif %}</p>

    <table>
        <thead>
            <tr>
                <th scope="col">Mon</th>
                <th scope="col">Tue</th>
                <th scope="col">Wed</th>
                <th scope="col">Thu</th>
                <th scope="col">Fri</th>
                <th scope="col">Sat</th>
                <th scope="col">Sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for day in note.days_of_week %}
                    <td>{% if day %}<span aria-label="active">✅</span>{% endif %}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <article>
        <header>The message to send:</header>
        <p>Receiver: {{ note.receiver_name }}</p>
        <small>{{ note.message }}</small>
    </article>

    <footer>
        <small>Latest changed: {{ note.last_modification }}</small>
        <div class="grid">
            <form method="post" action="{% url 'notification_change_active' pk=note.pk %}">
                {% csrf_token %}
                <button type="submit" class="secondary outline">
                    {% if note.is_active %}Set inactive{% else %}Set active{% endif %}
                </button>
            </form>
            <form method="post" action="{% url 'note_related_notifications_delete' pk=note.pk %}">
                {% csrf_token %}
                <button type="submit" class="secondary outline">Delete</button>
            </form>
        </div>
    </footer>
</article>
{% endfor %}

{% endblock %}
