{% extends 'homepage/base.html' %}
{% load static %}


{% block content %}

    <div class="container welcome-heading">
        <h2>Welcome to your pet organizer</h2>
    </div>

    {% if user.is_authenticated %}

        <div class="container">
            <h4>Operations:</h4>

            <div class="ops-row">
                <a role="button" href="{% url 'animals_stable' %}">Manage all animals</a>
                <a role="button" class="secondary outline" href="{% url 'animal_create' %}">Add animal</a>
                <a role="button" class="secondary outline" href="{% url 'biometric_batch' %}">Batch measurements</a>
            </div>
        </div>

        {% if pinned_animals %}
            <div class="container" style="margin-top: 2rem;">
                <h4>Pinned up:</h4>

                <div class="animals-grid">
                    {% for animal in pinned_animals %}
                        {% include "partials/animal_card.html" %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        {% if recent_animals %}
            <div class="container" style="margin-top: 2rem;">
                <h4>Recent added:</h4>

                <div class="animals-grid">
                    {% for animal in recent_animals %}
                        {% include "partials/animal_card.html" %}
                    {% endfor %}
                </div>
            </div>

        {% endif %}

    {% endif %}


{% endblock %}
