{% extends 'homepage/base.html' %}
{% load static %}


{% block content %}

  <h3>Placeholder title</h3>
  <p>Placeholder paragraph</p>
    {% if user.is_authenticated %}

    <a role="button" class="secondary outline" href="#">The example animal profile</a>
    <div class="grid">
         {% if animal %}
             <h4>Catalog:</h4>
            {% for animal in animals %}
                <a role="button"
                   class="contrast" href="{% url '{{ animal.url }}' %}"
                   style="background-image: url('{% static "{{ animal.image }}"%}')"
                >{{ animal.title }}</a>
            {% endfor %}
         {% endif %}
    </div>
    <h4>Operations:</h4>
    <div class="grid">
        <a role="button" class="secondary outline" href="{% url 'animals_manage' %}">Manage animals</a>
        <a role="button" class="secondary outline" href="{% url 'animal_create' %}">Add animal</a>
    </div>
    {% endif %}

{% endblock %}