apiVersion: v1
kind: Secret
metadata:
  name: ahc-app-secrets
  namespace: ahc
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
stringData:
  SECRET_KEY: "..."
  EMAIL_HOST_USER: "..."
  EMAIL_HOST_PASSWORD: "..."
  DISCORD_TOKEN: "..."
