apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: ahc
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
stringData:
  POSTGRES_DB: "..."
  POSTGRES_USER: "..."
  POSTGRES_PASSWORD: "..."
